*{margin:0;padding:0;}
ul, li{list-style:none;}
a{text-decoration:inherit;color:inherit;}
input[type='radio'] { display: none; }
body{overflow-x: hidden;font-family: "Nanum Barun Gothic";font-weight: 300;}
h1,h2,h3,h4{font-family: "Nanum Barun Gothic";font-weight: 300}

#header{width:100vw;height:800px;position: relative;}
.top_block{width: 100%;height: 70px;display: flex;justify-content: center;align-items: center;position: absolute;background: rgba(0,0,0,0.2);}
.logo{line-height:60px;font-size:30px}
.logo h3{font-weight:200;position: relative;color: #fff;z-index: 100}
.logo h3 span{color: #c44283;position: relative;z-index: 100}



.block{width:100%;height:55px;position: absolute;top:70px;z-index:10;background: url(../img/title2.png)}
.block:before{content: "";width: 100%;height: 55px;position: absolute;z-index: -10;background:rgba(255,255,255,0.5);}
.block>div{width:1280px;margin:0 auto;height:55px;color:#fff;display:flex;justify-content:center;}
.menu{display:flex;width:80%;position: relative;overflow:hidden;cursor: pointer;}
.menu .sub{font-size:18px;font-weight:400;width:25%;text-align: center;height: 100%;display: flex;align-items: center;justify-content: center;}
.menu .sub:nth-child(1):hover ~ .moving_bar {left: 5%;transition: .5s;opacity: 1;}
.menu .sub:nth-child(2):hover ~ .moving_bar {left: 30%;transition: .5s;opacity: 1;}
.menu .sub:nth-child(3):hover ~ .moving_bar {left: 55%;transition: .5s;opacity: 1;}
.menu .sub:nth-child(4):hover ~ .moving_bar {left: 80%;transition: .5s;opacity: 1;}
.menu .moving_bar{position: absolute;width: 15%;height: 5px;background: #c44283;bottom: 0;transition: .7s;left: -25%;opacity: 0}
	
/* .thing{display:flex;width: 120px;justify-content: space-between;align-items: center;height: 75px;}
.thing>div{display: flex;flex-flow: column;width: 60px;align-content: center;justify-content: center;height: 100%}
.thing a{font-size: 15px;}
.thing div .img{width: 24px; height: 14px;}
.thing div:nth-child(1) .img{background:url(../img/flag_kor.png) no-repeat center / cover;}
.thing div:nth-child(2) .img{background:url(../img/flag_eng.png) no-repeat center / cover;}
.thing h3{font-size:16px;font-weigth:200;} */

.upper>input{position: absolute;z-index:30;}
.upper>input:nth-child(1){left:100px;}
.upper>input:nth-child(2){left:200px;}
.upper>input:nth-child(3){left:300px;}
.upper>input:nth-child(4){left:400px;}
.upper>input:nth-child(5){left:500px;}
.slide{width:100%;height:800px;position: relative;overflow-y:hidden;}
.layer{background:rgba(0,0,0,.6);position: absolute;top:0;bottom:0;left:0;right:0;}



.slide ul{width:100%;height:100%;position: absolute;transition:.5s;}
.slide li{height:100%;width:100%;position: absolute;transition: 1s;z-index: -20}
.slide1{background:url(../img/back1.jpg) no-repeat center / cover;}
.slide2{background:url(../img/back2.png) no-repeat center / cover;}
.slide3{background:url(../img/back3.jpg) no-repeat center / cover;}
.slide4{background:url(../img/back4.jpg) no-repeat center / cover;}
.upside{position:absolute;top:calc(50% - 20px);left:calc(50% - 120px - 40px);color:#fff;z-index:20;text-align: center;}
.upside:after{position: relative;}
.upside h3{font-weight:400;margin-bottom:10px;}
.upside h5{font-weight:400;margin-top:10px;}
.upside h5 strong{font-weight:400;font-size:16px;color:#c44283;}
.rounded{display:flex;flex-wrap:wrap;align-items:center;justify-content: center;z-index:20;width:150px;height:70px;margin:0 auto;}
.rounded:hover{cursor:pointer;}
.rounded:hover .circle{border:2px solid #c44283;opacity:.7;}
.rounded:hover .c1{margin-left: initial;transition: .5s;background: #c44283;border:2px solid #c44283;opacity: 1}
.rounded:hover .c2{margin-left: initial;transition: .5s}


.circle{border:2px solid #fff;position: absolute;transition:.5s;}
.c1{width:130px;height:34px;border-radius:17px;margin-left:-10px;transition: .5s}
.c2{width:135px;height:50px;border-radius:25px;margin-left:10px;transition: .5s}
.rounded h4{position: absolute;font-weight:200;}

#pos1:checked ~ .slide ul li:nth-child(1){transform: translateY(000%);z-index: -10}
#pos1:checked ~ .slide ul li:nth-child(2){transform: translateY(100%);z-index: -20}
#pos1:checked ~ .slide ul li:nth-child(3){transform: translateY(100%);z-index: -20}
#pos1:checked ~ .slide ul li:nth-child(4){transform: translateY(100%);z-index: -20}

#pos2:checked ~ .slide ul li:nth-child(1){transform: translateY(-100%);z-index: -20}
#pos2:checked ~ .slide ul li:nth-child(2){transform: translateY(000%);z-index: -10}
#pos2:checked ~ .slide ul li:nth-child(3){transform: translateY(100%);z-index: -20}
#pos2:checked ~ .slide ul li:nth-child(4){transform: translateY(100%);z-index: -20}

#pos3:checked ~ .slide ul li:nth-child(1){transform: translateY(-100%);z-index: -20}
#pos3:checked ~ .slide ul li:nth-child(2){transform: translateY(-100%);z-index: -20}
#pos3:checked ~ .slide ul li:nth-child(3){transform: translateY(000%);z-index: -10}
#pos3:checked ~ .slide ul li:nth-child(4){transform: translateY(100%);z-index: -20}

#pos4:checked ~ .slide ul li:nth-child(1){transform: translateY(-100%);z-index: -20}
#pos4:checked ~ .slide ul li:nth-child(2){transform: translateY(-100%);z-index: -20}
#pos4:checked ~ .slide ul li:nth-child(3){transform: translateY(-100%);z-index: -20}
#pos4:checked ~ .slide ul li:nth-child(4){transform: translateY(000%);z-index: -10}





.part1{width:1200px;margin:0 auto;height:400px;text-align: center;display:flex;flex-wrap:wrap;justify-content: space-around;align-items: center;}
.part1 > .part1_sub{width:250px;height:250px;display:flex;flex-flow: column;}
.part1 > .part1_sub > .icon {width: 100%; height: 70%;display: flex;align-items: center;justify-content: center;}
.part1 > .part1_sub > .icon > div{width: 80px; height: 80px ;border-radius: 50% ;border: 3px solid #fff;display: flex;justify-content: center;align-items: center;flex-flow: column;}
.part1 > .part1_sub > .icon > div > p {margin-top: 20px;font-size: 15px}
.part1 > .part1_sub > .icon i{text-align: center;font-size: 70px;background: -webkit-linear-gradient(left,#c44283, #fff);-webkit-background-clip: text;-webkit-text-fill-color: transparent;transition: .5s;cursor: pointer;}
.part1 > .part1_sub > .icon i:hover{font-size: 80px;transition: .5s}

.part1 > .part1_sub > .flex {width: 100%; height: 30%}
.part1 > .part1_sub > .flex h2{font-size: 18px;font-weight: 400;}



.part2{width:1280px;margin:0 auto;height:450px;text-align: center;margin-top:50px;position: relative;overflow:hidden;}
.part2 > h3{font-size:30px;font-weight:400;margin-bottom:50px;}
.part2 > .part2_flex{display:flex;width:400%;height: 400px;transition: 1s;}
.part2 > .part2_flex > .sub{width:1280px;height:250px;display:flex;justify-content: space-around;flex-wrap:wrap;margin: 50px 0px}
.part2 > .part2_flex > .sub .part2_sub{width:250px;height:100%;text-align: center;position: relative;}
.part2 > .part2_flex > .sub .part2_sub > .for_img{width:100%;height:150px;position: absolute;z-index: 10}
.part2 > .part2_flex > .sub .part2_sub > .for_img:before{content: "";display: block;left: 0;right: 0;top: 0;bottom: 0;position: absolute;background:rgba(0,0,0,.5);width: 100%;height: 100%;z-index: 50;opacity: 0;transition: .5s;cursor: pointer;}
.part2 > .part2_flex > .sub .part2_sub > .for_img:hover:before{opacity: 1;transition: .5s}
.part2 > .part2_flex > .sub .part2_sub > .for_ment{width:100%;height:100px;position: absolute;top: 160px;z-index: 50}
.part2 > .part2_flex > .sub .part2_sub > .for_img img{width:100%;height:150px;transition: .5s;position: relative;}
.part2 > .part2_flex > .sub .part2_sub:hover > .for_ment {}

.part2 > .part2_flex > .sub .part2_sub > h3{color:rgba(0,0,0,.6);font-size:18px;font-weight:600;margin-top:10px;}
.part2 > .part2_flex > .sub .part2_sub > h4{color:#000;font-size:14px;margin-top:10px;}
.part2 > .part2_flex > .sub .part2_sub > i{color:#c44283;font-size:20px;margin-top:10px;}
.part2 > .part2_flex > .sub .part2_sub > p{font-size: 13px;padding: 2.5px 0px}

.part2 > input{display:none;}
.part2 > .arrow{display:flex;width:100px;justify-content: space-between;position: absolute;bottom:-00px;left:calc(50% - 50px);}
.part2 > .arrow label{display:block;width:10px;height:10px;border-radius:5px;border:#c44283 solid 1px;transition:.5s;}
.part2 > .arrow label:hover{cursor:pointer;}

.part2 #arrow1:checked ~ .arrow label:nth-child(1){background:#c44283;}
.part2 #arrow2:checked ~ .arrow label:nth-child(2){background:#c44283;}
.part2 #arrow3:checked ~ .arrow label:nth-child(3){background:#c44283;}
.part2 #arrow4:checked ~ .arrow label:nth-child(4){background:#c44283;}

.part2 #arrow1:checked ~ .part2_flex {margin-left: -0%}
.part2 #arrow2:checked ~ .part2_flex {margin-left: -100%}
.part2 #arrow3:checked ~ .part2_flex {margin-left: -200%}
.part2 #arrow4:checked ~ .part2_flex {margin-left: -300%}

.part3{width:100%;height:600px;position: relative;margin-top:70px;overflow: hidden;}
.part3 .back_img{width:100%;height:400px;top:100px;position: absolute;background: #fff;}
.part3 .back_img .img_wrap{width:100%;height:400px;position: absolute;background:rgba(255,255,255,.5);}
.part3 .back_img .img{width:100%;height:400px;background: url(../img/park.jpg) no-repeat bottom / cover;}

.part3 .part3_sub{width:1000px;height:550px;padding:0 50px;box-shadow:10px 15px 50px #bbb;background:#fff;position: relative;margin: 0 auto;}
.part3 .part3_sub .part3_subimg{width:35%;height:100%;position: absolute;left: 10%;bottom: -50px;box-shadow: 3px 3px 50px  #aaa;transition: 1s;z-index: -20;}
.part3 .part3_sub .part3_subimg:nth-child(1){background:url(../img/part3_subimg1.jpg) no-repeat center / cover;width: 385px;height: 550px;}
.part3 .part3_sub .part3_subimg:nth-child(2){background:url(../img/part3_subimg2.jpg) no-repeat center / cover;width:400px ;height: 300px;bottom: 100px}
.part3 .part3_sub .part3_subimg:nth-child(3){background:url(../img/part3_subimg3.jpg) no-repeat center / cover;width: 550px;height: 400px;left: -50px;bottom: 20px}
.part3 .part3_sub .part3_subimg:nth-child(4){background:url(../img/part3_subimg4.jpg) no-repeat center / cover;width: 450px;height: 350px;left: -20px;bottom: 120px}
.part3 .part3_sub .part3_subimg:nth-child(5){background:url(../img/part3_subimg5.jpg) no-repeat center / cover;width: 500px ;height: 570px;bottom: -60px;left: -30px}

#s3_slide1:checked ~ .part3_sub .part3_subimg:nth-child(1){z-index: 50}
#s3_slide1:checked ~ .part3_sub .part3_subimg:nth-child(2),
#s3_slide1:checked ~ .part3_sub .part3_subimg:nth-child(3),
#s3_slide1:checked ~ .part3_sub .part3_subimg:nth-child(4),
#s3_slide1:checked ~ .part3_sub .part3_subimg:nth-child(5){bottom:-900px ;z-index: -20;opacity: 0}


#s3_slide2:checked ~ .part3_sub .part3_subimg:nth-child(1){bottom: 900px;z-index: -20;opacity: 0}
#s3_slide2:checked ~ .part3_sub .part3_subimg:nth-child(2){z-index: 50}
#s3_slide2:checked ~ .part3_sub .part3_subimg:nth-child(3),
#s3_slide2:checked ~ .part3_sub .part3_subimg:nth-child(4),
#s3_slide2:checked ~ .part3_sub .part3_subimg:nth-child(5){bottom: -900px;z-index: -20;opacity: 0}

#s3_slide3:checked ~ .part3_sub .part3_subimg:nth-child(1),
#s3_slide3:checked ~ .part3_sub .part3_subimg:nth-child(2){bottom: 900px;z-index: -20;opacity: 0}
#s3_slide3:checked ~ .part3_sub .part3_subimg:nth-child(3){z-index: 50}
#s3_slide3:checked ~ .part3_sub .part3_subimg:nth-child(4),
#s3_slide3:checked ~ .part3_sub .part3_subimg:nth-child(5){bottom: -900px;z-index: -20;opacity: 0}

#s3_slide4:checked ~ .part3_sub .part3_subimg:nth-child(1),
#s3_slide4:checked ~ .part3_sub .part3_subimg:nth-child(2),
#s3_slide4:checked ~ .part3_sub .part3_subimg:nth-child(3){bottom: 900px;z-index: -20;opacity: 0}
#s3_slide4:checked ~ .part3_sub .part3_subimg:nth-child(4){z-index: 50}
#s3_slide4:checked ~ .part3_sub .part3_subimg:nth-child(5){bottom: -900px;z-index: -20;opacity: 0}

#s3_slide5:checked ~ .part3_sub .part3_subimg:nth-child(1),
#s3_slide5:checked ~ .part3_sub .part3_subimg:nth-child(2),
#s3_slide5:checked ~ .part3_sub .part3_subimg:nth-child(3),
#s3_slide5:checked ~ .part3_sub .part3_subimg:nth-child(4){bottom: 900px;z-index: -20;opacity: 0}
#s3_slide5:checked ~ .part3_sub .part3_subimg:nth-child(5){z-index: 50}





.part3 .part3_sub .part3_txt{margin:50px;position: absolute;right: 10%;top: calc(50%  - 200px)}
.part3 .part3_sub .part3_txt .move_h2{position: relative;width: 400px;height: 30px;overflow: hidden;}
.part3 .part3_sub .part3_txt .move_h2 h2{position: absolute;transition: .5s;}
.part3 .part3_sub .part3_txt .move_h2 h2:nth-child(1){transform: translateY(-80px);opacity: 0}
.part3 .part3_sub .part3_txt .move_h2 h2:nth-child(2){transform: translateY(-80px);opacity: 0}
.part3 .part3_sub .part3_txt .move_h2 h2:nth-child(3){transform: translateY(-80px);opacity: 0}
.part3 .part3_sub .part3_txt .move_h2 h2:nth-child(4){transform: translateY(-80px);opacity: 0}
.part3 .part3_sub .part3_txt .move_h2 h2:nth-child(5){transform: translateY(-80px);opacity: 0}




.part3 .part3_sub .part3_txt > p{color:rgba(0,0,0,.5);font-weight:800;margin-bottom:10px;}
.part3 .part3_sub .part3_txt > h2{font-weight:800;margin-bottom:10px;}
.part3 .part3_sub .part3_txt .part3_bar{width:350px;height:3px;background:#c44283;margin-top:15px;}
#s3_slide1:checked ~ .part3_sub .part3_txt .part3_bar {animation: size_up1 .7s;}
#s3_slide2:checked ~ .part3_sub .part3_txt .part3_bar {animation: size_up2 .7s;}
#s3_slide3:checked ~ .part3_sub .part3_txt .part3_bar {animation: size_up3 .7s;}
#s3_slide4:checked ~ .part3_sub .part3_txt .part3_bar {animation: size_up4 .7s;}
#s3_slide5:checked ~ .part3_sub .part3_txt .part3_bar {animation: size_up5 .7s;}
@keyframes size_up1{
	0%{width: 350px}
	50%{width: 400px}
	100%{width: 350px}
}

@keyframes size_up2{
	0%{width: 350px}
	50%{width: 400px}
	100%{width: 350px}
}

@keyframes size_up3{
	0%{width: 350px}
	50%{width: 400px}
	100%{width: 350px}
}

@keyframes size_up4{
	0%{width: 350px}
	50%{width: 400px}
	100%{width: 350px}
}

@keyframes size_up5{
	0%{width: 350px}
	50%{width: 400px}
	100%{width: 350px}
}


.part3 .part3_sub .part3_txt .part3_btn{border-color: #000;}
.part3 .part3_sub .part3_txt .part3_btn.rounded{position: absolute;right: 0;top: calc(50% + 100px)}
.part3 .part3_sub .part3_txt .part3_btn.rounded:hover .circle{border:2px solid #c44283;}
.part3 .part3_sub .part3_txt .part3_btn .circle{border:2px solid #b9b9b9;position: absolute;transition:.5s;}
.part3 .part3_sub .part3_txt .part3_btn .circle.c1{width: 115px;height: 30px;}
.part3 .part3_sub .part3_txt .part3_btn .circle.c2{width: 120px;height: 45px;}
.part3 .part3_sub .part3_txt .part3_btn h4{font-size: 15px}

#s3_slide1:checked ~ .part3_sub .part3_circle label:nth-child(1){background: #c44283;transition: .5s}
#s3_slide1:checked ~ .part3_sub .part3_txt .move_h2 h2:nth-child(1){transform: inherit;opacity: 1;transition: .5s;}
#s3_slide2:checked ~ .part3_sub .part3_txt .move_h2 h2:nth-child(2){transform: inherit;opacity: 1;transition: .5s;}
#s3_slide3:checked ~ .part3_sub .part3_txt .move_h2 h2:nth-child(3){transform: inherit;opacity: 1;transition: .5s;}
#s3_slide4:checked ~ .part3_sub .part3_txt .move_h2 h2:nth-child(4){transform: inherit;opacity: 1;transition: .5s;}
#s3_slide5:checked ~ .part3_sub .part3_txt .move_h2 h2:nth-child(5){transform: inherit;opacity: 1;transition: .5s;}
#s3_slide2:checked ~ .part3_sub .part3_circle label:nth-child(2){background: #c44283;transition: .5s}
#s3_slide3:checked ~ .part3_sub .part3_circle label:nth-child(3){background: #c44283;transition: .5s}
#s3_slide4:checked ~ .part3_sub .part3_circle label:nth-child(4){background: #c44283;transition: .5s}
#s3_slide5:checked ~ .part3_sub .part3_circle label:nth-child(5){background: #c44283;transition: .5s}
.part3 .part3_sub .part3_circle{position: absolute;display: flex;flex-flow: column;right: 10%;top: calc(50%  - 100px);height: 100px;justify-content: space-between;}
.part3 .part3_sub .part3_circle label{width: 8px; height: 8px; background: transparent;border-radius: 50%;border: 1px solid #c44283;transition: .5s;cursor: pointer;}


.part4{width:1280px;height:700px;margin:0 auto;padding-top: 100px}
.part4 h3{font-size:30px;font-weight:400;}
.part4 .part4_sub{display:flex;width:100%;height:100%;position: relative;}
.part4 .part4_sub>div{width:45%;height:45%;position: absolute;}
.part4 .part4_sub .p4_txt{position: absolute;}
.part4 .part4_sub .p4_txt.txt1{text-align: left;}
.part4 .part4_sub .p4_txt.txt2{text-align: left;bottom: -20%}
.part4 .part4_sub .txt2{right: 0;bottom: 0;position: absolute;}

.part4 .part4_sub .p4_txt h3{font-size:20px;}
.part4 .part4_sub .p4_txt p{font-size:13px;color:rgba(0,0,0,.6);}
.part4 .part4_sub .p4_txt .part4_btn{width:100px;height:30px;border-radius:15px;border:1px solid #aaa;text-align: center;margin:20px 5px;}
.part4 .part4_sub .p4_txt .part4_btn{font-size:14px;color:#aaa;line-height:30px;}
.part4 .part4_sub .part4_forming {position: absolute;width: 100%;height: 100%;background: #faa;}
.part4 .part4_sub .img1{right: 5%;top:    5%;width: 40%; height: 45%;z-index: 20;background:url(../img/part3_subimg1.jpg) no-repeat center / cover;}
.part4 .part4_sub .img2{left:  5%;bottom: 5%;width: 40%; height: 45%;z-index: 20;background:url(../img/part3_subimg2.jpg) no-repeat center / cover;}
.part4 .part4_sub .img3{left: calc(50% - 22.5%);top: calc(50% - 22.5% );background:url(../img/part3_subimg3.jpg) no-repeat center / cover;width: 40%; height: 45%;z-index: 30}

.footer{height: 200px;width: 100%;margin-top:250px;}
.footer .in_footer{width: 1280px; height: 100%; margin: 0 auto;border-top: 1px solid #f1f1f1;}
.footer .in_footer .footer_box{width: 100%;height: 100%;}
.footer .in_footer ul{width: 100%;height: 100%;display: flex;justify-content: space-between;}
.footer .in_footer ul li{display: flex;flex-flow: column;justify-content: center;}
.footer .in_footer ul li:nth-child(1){width: 27.5%}
.footer .in_footer ul li:nth-child(2){width: 15%}
.footer .in_footer ul li:nth-child(3){width: 15%}
.footer .in_footer ul li:nth-child(4){width: 15%}
.footer .in_footer ul li:nth-child(5){width: 27.5%}
.footer .in_footer ul .logo2 {text-align: center;}
.footer .in_footer ul .logo2 h3{font-weight: 200;font-size:30px;}
.footer .in_footer ul .logo2 span{font-size: 12px}