*{padding:0;margin:0;}
ul, li{list-style:none;}
a{text-decoration: none;color:inherit;}
body{font-family: "Nanum Barun Gothic";font-weight: 300;}
h1,h2,h3,h4{font-family: "Nanum Barun Gothic";font-weight: 300}


/* HEADER_SECTION */
#header {width: 100%;height: 135px}
#header > .top {width: 100%;height: 85px;  border-bottom: 2px solid #0a2a91;}
#header > .top .in_top{width: 1280px; margin: 0 auto;height: 100%;display: flex;align-items: center;justify-content: center;position: relative;}
#header > .top .in_top > .logo h2{font-weight: bold;font-size: 27px}
#header > .top .in_top > .login{position: absolute;right: 0;bottom: 0px;font-size: 13px;color: #666;width: 110px;height: 30px;display: flex;justify-content: space-between;}
#header > .top .in_top > .login .bh{width: 2px ;height: 13px;background: #0a2a91;position: absolute;left: calc(50% - 5px)}
#header > .top .in_top > .login a{transition: .3s;}
#header > .top .in_top > .login a{font-size: 13px;color: #666}
#header > .top .in_top > .login a:hover{color: #0a2a91;font-weight: bold;}

#header > .bottom {width: 100%;height:48px; border-bottom: 1px solid #0a2a91}
#header > .bottom > .in_bottom{width: 1280px; height: 100%;margin: 0 auto;} 
#header > .bottom > .in_bottom .menus{width: 100%;height: 100%;display: flex;justify-content: space-between;cursor:pointer;overflow: hidden;}
#header > .bottom > .in_bottom .menus a{width: 25%;height: 100%;display: flex;justify-content: center;align-items: center;color: #0a2a91;font-size: 17px;transition: .5s;position: relative;z-index: 20;font-weight: 400}
#header > .bottom > .in_bottom .menus a:after{content: "";display: block;width:320px;height: 48px;position: absolute;bottom: 48px;transition: .5s;background: rgba(20,49,144,0.5);z-index: -10}
#header > .bottom > .in_bottom .menus a:before{content: "";display: block;width:320px;height: 48px;position: absolute;top: 48px;transition: .5s;background: rgba(20,49,144,0.5);z-index: -10}

#header > .bottom > .in_bottom .menus a:hover {color: #fff;transition: .7}
#header > .bottom > .in_bottom .menus a:hover:after{transition: .5s;bottom: 0px;transition-delay: .3s}
#header > .bottom > .in_bottom .menus a:hover:before{transition: .5s;top: 0px;}


/* VISUAL_SECTION */

.visual {width: 100%; height: 350px;position: relative;display: flex;justify-content: center;align-items: center;}
.visual > .v_bg{position: absolute;width: 100%;height: 100%;left: 0;right: 0;top: 0;bottom: 0;background: url(../img/back4.jpg) no-repeat center / cover;z-index: -10}
.visual > .white_bar{width: 100%; height: 220px;background: rgba(255,255,255,0.7);display: flex;justify-content: center;align-items: center;}
.visual > .white_bar > .v_ment{display: flex;flex-flow: column;}
.visual > .white_bar > .v_ment h3{text-align: center;font-size: 22px;font-weight: 400;}
.visual > .white_bar > .v_ment h3:after{content: "";display: block;width: 200px; height: 2px;background: #0a2a91;margin-top: 10px;}


/* MAIN_SECTION */

.main{width: 100%;margin: 60px 0px;}

/* main_center */
.main > .main_top{width: 100%; height: 60px;}
.main > .main_top > .top_wrap{width: 1280px; height: 60px;display: flex;justify-content: space-between;margin: 0 auto;align-items: center;}
.main > .main_top > .top_wrap p:nth-child(1){font-size: 21px;font-weight: 400}
.main > .main_top > .top_wrap p:nth-child(2) a:hover{color: #6D7FBC}

.main > .main_center {width: 100%; height: 690px;}
.main > .main_center > .center_in{width: 1280px; height: 100%;margin: 0 auto;} 
.main > .main_center > .center_in > ul {width: 1280px; height: 100%;display: flex;flex-flow: wrap; justify-content: space-between;margin-top: 50px}
.main > .main_center > .center_in > ul > li{width: 400px; height: 300px; background: #faf;position: relative;cursor: pointer;}
.main > .main_center > .center_in > ul > li:hover > .layer{opacity: 1}
.main > .main_center > .center_in > ul > li .layer{width: 100%;height: 100%;background:rgba(0,0,0,0.3);position: absolute;left: 0;right: 0;top: 0;bottom: 0;opacity: 0;transition: .5s}
.main > .main_center > .center_in > ul > li .box{position: absolute;left: calc(50% - 75px);right: 0;top: calc(50% - 25px);bottom: 0;width: 150px; height: 50px;background: #0a2a91;color: #fff;text-align: center;line-height: 50px;font-size: 16px;}

.main > .main_center > .center_in > ul > li:nth-child(1) .bg{width: 100%;height: 100%;background: url(../img/동물보호.jpg) no-repeat center / cover;}
.main > .main_center > .center_in > ul > li:nth-child(2) .bg{width: 100%;height: 100%;background: url(../img/구조.jpg) no-repeat center / cover;}
.main > .main_center > .center_in > ul > li:nth-child(3) .bg{width: 100%;height: 100%;background: url(../img/입양.jpg) no-repeat center / cover;}
.main > .main_center > .center_in > ul > li:nth-child(4) .bg{width: 100%;height: 100%;background: url(../img/교육.jpg) no-repeat center / cover;}
.main > .main_center > .center_in > ul > li:nth-child(5) .bg{width: 100%;height: 100%;background: url(../img/봉사.jpg) no-repeat center / cover;}
.main > .main_center > .center_in > ul > li:nth-child(6) .bg{width: 100%;height: 100%;background: url(../img/시위.jpg) no-repeat center / cover;}



/* FOOTER_SECTION */

#footer{height: 275px; width: 100%;background: #333;}
#footer .in_footer{width: 1280px;margin: 0 auto;display: flex;justify-content: space-between;height: 100%;}
#footer .in_footer > div:nth-child(1){width: 25%;height: 100%;}
#footer .in_footer > div:nth-child(2){width: 50%;height: 100%;}
#footer .in_footer > div:nth-child(3){width: 25%;height: 100%;}
#footer .in_footer > .f1{display: flex;justify-content: flex-start;align-items: center;color: #fff;font-size: 25px;font-weight: bold;}
#footer .in_footer > .f2{width: 100%;height:100%;display: flex;justify-content:center;align-items: center;}
#footer .in_footer > .f2 .in_f2{width: 100%;height:170px;display: flex;flex-flow: column;justify-content: space-between;}
#footer .in_footer > .f2 .in_f2 a:hover{color: #fff;}
#footer .in_footer > .f2 .in_f2 > div p{font-size: 14px}
#footer .in_footer > .f2 .in_f2 > div:nth-child(1),
#footer .in_footer > .f2 .in_f2 > div:nth-child(2) p{color: #aaa;}
#footer .in_footer > .f2 .in_f2 > div:nth-child(3) p{color: #fff;}

#footer .in_footer > .f3 {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
#footer .in_footer > .f3 .in_f3{width: 100%;height: 144px;display: flex;flex-flow: column;justify-content: space-between;}
#footer .in_footer > .f3 .in_f3 .icons{width: 95%; height: 46px; display: flex;justify-content: space-between;margin: 0 auto;}
#footer .in_footer > .f3 .in_f3 .icons div{width: 46px; height: 46px;background: #faa;position: relative;border-radius: 50%}
#footer .in_footer > .f3 .in_f3 .icons div img{position: absolute;width: 46px;height: 46px;transition: .5s;cursor:pointer;}
#footer .in_footer > .f3 .in_f3 .icons div img:hover{transform: scale(1.1);}

#footer .in_footer > .f3 .in_f3 .subscribe{width: 95%;height: 70px;margin: 0 auto;} 
#footer .in_footer > .f3 .in_f3 .subscribe input{width: 99%;height: 29px; border: 1px solid #fff;background: transparent;}
#footer .in_footer > .f3 .in_f3 .subscribe input::placeholder{padding-left: 15px;}
#footer .in_footer > .f3 .in_f3 .subscribe .sub_btn {width: 100%;text-align: center;line-height: 25px;margin-top: 15px;display: flex;justify-content: flex-end;}
#footer .in_footer > .f3 .in_f3 .subscribe .sub_btn a{background: #fff;display: block;width: 75px;font-size: 12px}

/* PLUS */

.ensp {margin: 0 10px}
